@model Store.App.ViewModels.SupplierViewModel

<div>
    <div>
        <hr />
        <h4>Endereço</h4>
    </div>

    @if (Model != null)
    {
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Address.CEP)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address.PublicPlace)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address.Number)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address.Complement)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address.District)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address.City)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address.State)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.Address.CEP)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Address.PublicPlace)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Address.Number)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Address.Complement)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Address.District)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Address.City)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Address.State)
                    </td>
                    <td>
                        <a class="btn btn-info"><span title="Editar" class="fa fa-pencil-alt"></span></a>
                    </td>
                </tr>
            </tbody>
        </table>
    }
</div>
