@model IEnumerable<Store.App.ViewModels.CategoryViewModel>

@{
    ViewData["Title"] = "Lista de Categorias";
}

<h1>@ViewData["Title"]</h1>
<vc:summary></vc:summary>
<hr />
<p><a class="btn btn-info" suppress-by-claim-name="Category" suppress-by-claim-value="Add" asp-action="Create">Nova</a></p>
<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="text-right">
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">
                        <span class="fa fa-search"></span>
                    </a>
                    <a class="btn btn-warning" disable-by-claim-name="Category" disable-by-claim-value="Edit" asp-action="Edit" asp-route-id="@item.Id">
                        <span class="fa fa-pencil-alt"></span>
                    </a>
                    <a class="btn btn-danger" disable-by-claim-name="Category" disable-by-claim-value="Delete" asp-action="Delete" asp-route-id="@item.Id">
                        <span class="fa fa-trash-alt"></span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>